<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <form th:action="@{/trabajadores/create}" th:object="${trabajador}" method="post">
        <div class="errorblock" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <fieldset>
            <legend>Datos del trabajador</legend>

            <table>
                <tr>
                    <td><label th:text="${id}">ID: </label></td>
                    <td><input type="text" th:field="*{idTrabajador}" maxlength="100"></td>
                </tr>

                <tr>
                    <td><label th:text="${dni}">DNI: </label></td>
                    <td><input type="text" th:field="*{dni}" maxlength="100"></td>
                </tr>

                <tr>
                    <td><label th:text="${nombre}">Nombre: </label></td>
                    <td><input type="text" th:field="*{nombre}" maxlength="100"></td>
                </tr>

                <tr>
                    <td><label th:text="${apellidos}">Apellidos: </label></td>
                    <td><input type="text" th:field="*{apellidos}" maxlength="100"></td>
                </tr>

                <tr>
                    <td><label th:text="${especialidad}">Especialidad: </label></td>
                    <td><input type="text" th:field="*{especialidad}" maxlength="100"></td>
                </tr>

                <tr>
                    <td><label th:text="${contraseña}">Contraseña: </label></td>
                    <td><input type="text" th:field="*{contraseña}" maxlength="100"></td>
                </tr>

                <tr>
                    <td><label th:text="${email}">Email: </label></td>
                    <td><input type="text" th:field="*{email}" maxlength="100"></td>
                </tr>

                <tr>
                    <td><button type="submit" th:text="Añadir"></button></td>
                </tr>

            </table>


        </fieldset>
    </form>

    <p><a th:href="@{/trabajadores}">Volver</a></p>

    </body>
</html>