<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title th:text="${titulo}"></title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/formStyle.css}">
</head>
<body>
  <h1 th:text="${titulo}"></h1>

<form th:action="@{/trabajadores/edit}" th:object="${trabajador}" method="post">
  <input type="hidden" name="_method" value="put"/>
  
    <div class="errorblock" th:if="${#fields.hasErrors('*')}">
      <h2 th:text="${error}"></h2>
      <ul>
        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
      </ul>
    </div>

    <div th:if="${mensajeError}">
      <h2 th:text="${error}"></h2>
      <p th:text="${mensajeError}"></p>
    </div>

    <fieldset>
      <legend>Datos del trabajador</legend>

      <label th:text="${id}"></label>
      <input type="text" th:field="*{idTrabajador}" maxlength="5" readonly>

      <label th:text="${dni}"></label>
      <input type="text" th:field="*{dni}" maxlength="9">

      <label th:text="${nombre}"></label>
      <input type="text" th:field="*{nombre}" maxlength="100">

      <label th:text="${apellidos}"></label>
      <input type="text" th:field="*{apellidos}" maxlength="100">

      <label th:text="${especialidad}"></label>
      <input type="text" th:field="*{especialidad}" maxlength="50">

      <label th:text="${contraseña}"></label>
      <input type="text" th:field="*{contraseña}" maxlength="50">

      <label th:text="${email}"></label>
      <input type="text" th:field="*{email}" maxlength="150">

      <button type="submit" th:text="Editar"></button>

    </fieldset>
  </form>

  <p><a th:href="@{/trabajadores}" class="enlace">Volver</a></p>

</body>
</html>
