<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tableStyle.css}">

    <script defer>
        function confirmDelete(event) {
            event.preventDefault(); // Evita que el formulario se envíe automáticamente

            if (confirm("¿Estás seguro de que quieres eliminar este trabajo? Esta acción no se podrá deshacer")) {
                // Si el usuario confirma, se envía el formulario
                event.target.form.submit();
            }
        }
    </script>
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <menu>
        <li><a th:href="@{/trabajos/nuevo}">Añadir</a></li>
    </menu>

    <p th:if="${trabajos.isEmpty()}">No hay trabajos que mostrar</p>

    <table th:if="${not trabajos.isEmpty()}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Descripción</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Tiempo</th>
            <th>Prioridad</th>
            <th>Trabajador</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="trabajo: ${trabajos}">
                <td>
                    <a th:href="@{/trabajos/{id} (id = ${trabajo.codTrabajo})}"
                       th:text="${trabajo.codTrabajo}" class="enlace"></a>
                </td>
                <td th:text="${trabajo.categoria}"></td>
                <td th:text="${trabajo.descripcion}"></td>
                <td th:text="${trabajo.fecIni}" class="centrado"></td>
                <td class="centrado">
                    <span th:if="${trabajo.fecFin}" th:text="${trabajo.fecFin}"></span>
                    <span th:if="${trabajo.fecFin == null}">-</span>
                </td>
                <td>
                    <span th:if="${trabajo.tiempo}" th:text="${trabajo.tiempo + ' h'}"></span>
                    <span th:if="${trabajo.tiempo == null}">-</span>
                </td>
                <td th:text="${trabajo.prioridad}" class="centrado"></td>
                <td class="centrado">
                    <a th:if="${trabajo.idTrabajador}" th:href="@{/trabajadores/{id} (id = ${trabajo.idTrabajador.idTrabajador})}"
                       th:text="${trabajo.idTrabajador.nombre}" class="enlace"></a>
                    <span th:if="${trabajo.idTrabajador == null}">-</span>
                </td>
                <td>
                    <form th:action="@{/trabajos/editar}" method="get">
                        <input type="hidden" name="codTrabajo" th:value="${trabajo.codTrabajo}">
                        <input type="submit" value="Editar">
                    </form>
                    <form th:action="@{/trabajos/delete}" method="post" class="deleteForm">
                        <input type="hidden" name="codTrabajo" th:value="${trabajo.codTrabajo}">
                        <input type="button" value="Eliminar" onclick="confirmDelete(event)" onkeydown="confirmDelete(event)">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <p><a th:href="@{/}" class="enlace">Volver</a></p>
</body>
</html>

